<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylelogin.css">
</head>
<body>
    
    <!--ring div starts here-->
<div class="ring">
    <i style="--clr:#0007c6;"></i>
    <i style="--clr:#a8ffb1;"></i>
    <i style="--clr:#b834ff;"></i>
    <div class="login">
      <h2>sign up</h2>
      <div class="inputBx">
        <input type="text" placeholder="Username">
      </div>
      <div class="inputBx">
        <input type="email" placeholder="Email">
      </div>
      <div class="inputBx">
        <input type="password" placeholder="Password">
      </div>
      <div class="inputBx">
        <input type="submit" value="Sign up">
      </div>
      <div class="links">
        <a href="forgotpassword.html">Forget Password</a>
        <a href="loginmain.html">Sign in</a>
      </div>
    </div>
  </div>
  <!--ring div ends here-->
</body>
</html>