<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Area</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../static/user-area.css">
</head>
<body>
    <div id="user-area-menu">
    <div class="menu-items container">
        <h2>My account</h2>
        <a class="menu-item" href="#">
            <div class="icon"><i class="fas fa-shopping-bag"></i></div>
            <p class="name">My orders</p></a>
        <a class="menu-item" href="#">
            <div class="icon"><i class="fas fa-undo-alt"></i></div>
            <p class="name">My returns</p></a>
        <a class="menu-item" href="#">
            <div class="icon"><i class="far fa-star"></i></div>
            <p class="name">My reviews</p></a>
        <a class="menu-item" href="#">
            <div class="icon"><i class="fas fa-tags"></i></div>
            <p class="name">My coupons</p></a>
        <a class="menu-item" href="#">
            <div class="icon"><i class="fas fa-user"></i></div>
            <p class="name">My personal details</p></a>
        <a class="menu-item" href="#">
            <div class="icon"><i class="fas fa-credit-card"></i></div>
            <p class="name">My payment methods</p></a>
        <a class="menu-item" href="#">
            <div class="icon"><i class="fas fa-address-card"></i></div>
            <p class="name">My address information</p></a>
        <a class="menu-item" href="#">
            <div class="icon"><i class="fas fa-key"></i></div>
            <p class="name">Password change</p></a>
        <a class="menu-item" href="#">
            <div class="icon"><i class="fas fa-question-circle"></i></div>
            <p class="name">Help & Contact</p></a>    
    </div>
</body>
</html>
